# MongoDB Configuration
MONGO_DB_URL=
MONGO_DB_NAME=

# Application Credentials
APP_USER=
APP_PASSWORD=

# Redis Configuration
REDIS_HOST=
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_TTL=3600

# Application Configuration
PORT=3000